/* Qt Elements */
QLineEdit {background-color: white; color: black;}
QLineEdit:focus {background-color: #98dbcc; color: #333333}
QLineEdit[warning=true] {background-color: yellow;}
QLineEdit[urgent=true] {background-color: red;}
QTableWidgetItem[italic=true] {font-style: italic}

QLabel[angstrom=true] {font-family: -apple-system, "Helvetica Neue", "Ubuntu";}

QPushButton {color: black;}
QPushButton[urgent=true] {color: red;}

QToolTip {font-size: 80%;}

QProgressBar {border: 2px solid grey; border-radius: 5px; text-align: center}
QProgressBar::chunk {background-color: #b1daf9; width: 10px; margin: 1px;}

QTextBrowser[warning=true] {border: 5px solid red; background-color: lightyellow}
QCodeEditor {font-family: 'monospace, monospace'}
QCodeEditor[warning=true] {border: 5px solid red; background-color: lightyellow}

QTreeView {paint-alternating-row-colors-for-empty-area:0;}
QTreeView::item {border: 1px; padding: 2px 1px;}
QTreeView::item:hover {background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #e7effd, stop: 1 #cbdaf1); border: 1px solid #bfcde4;}
QTreeView::item:selected {border: 1px solid #567dbc;}
QTreeView::item:selected:active{background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6ea1f1, stop: 1 #567dbc);}
QTreeView::item:selected:!active {background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);}
QLabel[bold=true] {font-weight: bold;}
QTreeView::item[base=true] {color: rgb(77,81,87); font-style: normal; font-weight: normal;}
QTreeView::item[disabled=true] {font-style: italic;}
QTreeView::item[constrained=true] {font-style: italic; color: blue;}
QHeaderView {font-weight: bold}