/* Global Properties */
* {font-size: 10pt; font-family: Helvetica, Arial, Verdana, sans-serif}

/* Qt Elements */
QLineEdit {background-color: white; color: black;}
QLineEdit:focus {background-color: #98dbcc; color: #333333}
QLineEdit[warning=true] {background-color: yellow;}
QLineEdit[urgent=true] {background-color: red;}
QTableWidgetItem[italic=true] {font-style: italic}

QLabel[angstrom=true] {font-family: -apple-system, "Helvetica Neue", "Ubuntu";}

QToolTip {font-size: 80%;}

QProgressBar {border: 2px solid grey; border-radius: 5px; text-align: center}
QProgressBar::chunk {background-color: #b1daf9; width: 10px; margin: 1px;}

/* Class-specific Properties */
QTextBrowser[warning=true] {border: 5px solid red; background-color: lightyellow}
QCodeEditor {font-family: 'monospace, monospace'}
QCodeEditor[warning=true] {border: 5px solid red; background-color: lightyellow}