# It is actually possible to list all the old svn ignore properties:
#
# svn pg -R svn:ignore .
#
# But there's a whole load of useless stuff in there that is no longer used.
# Instead I did a clean build including the docs, ran the tests, and then ran
# sasview for a bit and then did a git status to see what extra stuff was being
# generated.
#
# Feel free to add more stuff to this as and when it becomes an issue. 

.project
.pydevproject
.vagrant
.mplconfig

/setup.cfg

/dist
/build
sasview.egg-info
sasview-install
**/test/logs
*.pyc
*.so
default_categories.json

/src/sas/models/*.py
/src/sas/models/c_extension/c_models/c_models.cpp
/src/sas/models/c_extension/python_wrapper/generated/
/src/sas/models/media/.idea/

/docs/sphinx-docs/build
/docs/sphinx-docs/source/dev/api
/docs/sphinx-docs/source/user/guiframe
/docs/sphinx-docs/source/user/models
/docs/sphinx-docs/source/user/perspectives

# test outputs
/test/pr_inversion/test/test_output.txt
/test/sasdataloader/test/plugins.zip
/test/sasdataloader/test/test_log.txt
