# It is actually possible to list all the old svn ignore properties:
#
# svn pg -R svn:ignore .
#
# But there's a whole load of useless stuff in there that is no longer used.
# Instead I did a clean build including the docs, ran the tests, and then ran
# sasview for a bit and then did a git status to see what extra stuff was being
# generated.
#
# Feel free to add more stuff to this as and when it becomes an issue.

# Editor files
.DS_Store
/.settings
/.vscode
/.project
/.pydevproject
/.idea

# Build and run files
**/__pycache__
*.pyc
*.so
/.vagrant
/build
/dist
sasview.egg-info
.mplconfig
default_categories.json
/setup.cfg

# doc build
/docs/sphinx-docs/build
/docs/sphinx-docs/source-temp
/docs/sphinx-docs/source/dev/api
/docs/sphinx-docs/source/user/guiframe
/docs/sphinx-docs/source/user/models
/docs/sphinx-docs/source/user/sasview
/docs/sphinx-docs/source/user/perspectives
/docs/sphinx-docs/katex*.zip
/docs/sphinx-docs/node_modules
/docs/sphinx-docs/node-package.json

# test outputs
/test/pr_inversion/test/test_output.txt
/test/sasdataloader/test/plugins.zip
/test/sasdataloader/test/test_log.txt
/test/sasdataloader/test/isis_1_0_write_test.xml
/test/sasdataloader/test/isis_1_1_write_test.xml
/test/sasdataloader/test/write_test.xml
/test/fileconverter/test/export2d.h5
**/test/logs
tests.log

# Installer files
/sasview-install
/installers/installer.iss
/installers/build
/installers/dist
