build
bumps
dominate
hatchling
hatch-build-scripts
hatch-requirements-txt
hatch-sphinx
hatch-vcs
html2text
numpy
pre-commit
periodictable
pyopengl
pyside6
qtconsole
scipy
superqt
twisted
uncertainties
