# Alphabetized list of OS and version agnostic dependencies
appdirs
bumps
cffi
docutils
dominate
h5py
html2text
html5lib
importlib-resources
ipython
jsonschema
lxml
mako
matplotlib
numba
numpy==1.26.4
periodictable
pybind11
pylint
pyopengl
pyparsing
pytest
pytest_qt
pytest-mock
pytools
qtconsole
scipy==1.13.1
six
sphinx
superqt
tinycc
twisted
uncertainties
unittest-xml-reporting
xhtml2pdf
zope

# Alphabetized list of OS-specific packages
pywin32; platform_system == "Windows"

# Alphabetized list of version-pinned packages
PySide6==6.7.2  # Later versions do not mesh well with pyinstaller < 6.0
