AccessControl==7.2
Acquisition==6.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==1.0.0
altgraph==0.17.4
appdirs==1.4.4
appnope==0.1.4
arabic-reshaper==3.0.0
asn1crypto==1.5.1
astroid==3.3.11
asttokens==3.0.0
attrs==25.3.0
AuthEncoding==6.0
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.13.4
bidict==0.23.1
blinker==1.9.0
BTrees==6.1
build==1.3.0
bumps==1.0.2
certifi==2025.8.3
cffi==1.17.1
Chameleon==4.6.0
charset-normalizer==3.4.3
columnize==0.3.11
comm==0.2.3
constantly==23.10.4
contourpy==1.3.3
cryptography==45.0.6
cssselect2==0.8.0
cycler==0.12.1
DateTime==5.5
debugpy==1.8.16
decorator==5.2.1
dill==0.4.0
DocumentTemplate==4.6
docutils==0.21.2
dominate==2.9.1
executing==2.2.0
ExtensionClass==6.0
fonttools==4.59.1
frozenlist==1.7.0
h11==0.16.0
h5py==3.14.0
hatch-requirements-txt==0.4.1
hatch-sphinx==0.0.4
hatch-vcs==0.5.0
hatch_build_scripts==1.0.0
hatchling==1.27.0
html2text==2025.4.15
html5lib==1.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.9
llvmlite==0.44.0
lxml==6.0.0
macholib==1.16.3
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mccabe==0.7.0
mpld3==0.5.11
multidict==6.6.4
MultiMapping==5.0
multipart==1.3.0
narwhals==2.1.2
nest-asyncio==1.6.0
numba==0.61.2
numpy==2.2.6
oscrypto==1.3.0
packaging==25.0
parso==0.8.4
PasteDeploy==3.1.0
pathspec==0.12.1
periodictable==2.0.2
Persistence==5.1
persistent==6.1.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.3.0
pluggy==1.6.0
prompt_toolkit==3.0.51
propcache==0.3.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==3.0.0
pycparser==2.22
Pygments==2.19.2
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pylint==3.3.8
pyopencl==2025.2.6
PyOpenGL==3.1.10
pyparsing==3.2.3
pypdf==6.0.0
pyproject_hooks==1.2.0
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-engineio==4.12.2
python-gettext==5.0
python-socketio==5.13.0
pytools==2025.2.2
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.1
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.36.2
reportlab==4.4.3
requests==2.32.4
RestrictedPython==8.0
roman==5.1
roman-numerals-py==3.1.0
rpds-py==0.27.0
sasdata==0.11.0
sasmodels==1.0.11
scipy==1.16.1
setuptools-scm==9.2.0
shiboken6==6.9.1
simple-websocket==1.1.0
siphash24==1.7
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
superqt==0.7.6
svglib==1.5.1
tccbox==2025.6.6
tinycss2==1.4.0
tomlkit==0.13.3
tornado==6.5.2
traitlets==5.14.3
transaction==5.0
trove-classifiers==2025.8.6.13
Twisted==25.5.0
typing_extensions==4.14.1
tzlocal==5.3.1
uncertainties==3.2.3
uritools==5.0.0
urllib3==2.5.0
waitress==3.0.2
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.9
WebTest==3.0.6
WSGIProxy2==0.5.1
wsproto==1.2.0
xhtml2pdf==0.2.17
yarl==1.20.1
z3c.pt==5.1
zc.lockfile==3.0.post1
ZConfig==4.2
zExceptions==5.0
ZODB==6.0.1
zodbpickle==4.2
Zope==5.13
zope.annotation==5.2
zope.browser==3.1
zope.browsermenu==5.1
zope.browserpage==5.1
zope.browserresource==5.2
zope.cachedescriptors==5.1
zope.component==6.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.1
zope.contenttype==5.2
zope.datetime==5.1
zope.deferredimport==5.1
zope.deprecation==5.1
zope.dottedname==6.1
zope.event==5.1
zope.exceptions==5.2
zope.filerepresentation==6.1
zope.globalrequest==2.0
zope.hookable==7.0
zope.i18n==5.3
zope.i18nmessageid==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.location==5.1
zope.pagetemplate==5.2
zope.processlifetime==3.1
zope.proxy==6.1
zope.ptresource==5.1
zope.publisher==7.3
zope.schema==7.1
zope.security==7.3
zope.sequencesort==5.1
zope.site==5.1
zope.size==5.1
zope.structuredtext==5.1
zope.tal==5.1.1
zope.tales==6.1
zope.testbrowser==7.0.1
zope.testing==5.1
zope.traversing==5.1
zope.viewlet==5.1
