# Alphabetized list of OS and version agnostic dependencies
appdirs
bumps
cffi
docutils
dominate
h5py
html2text
html5lib
importlib-resources;python_version<"3.9"
ipython
jsonschema
lxml
mako
matplotlib
numba
numpy
packaging
periodictable
platformdirs
pybind11
pylint
pyopencl
pyopengl
pyparsing
PySide6==6.4.3
pytools
qtconsole
sasdata @ git+https://github.com/SasView/sasdata.git@sasdata_0.10.0
sasmodels @ git+https://github.com/SasView/sasmodels.git@sasmodels_1.0.10
scipy
siphash24
sphinx
superqt
tccbox
twisted
uncertainties
xhtml2pdf
zope

# Alphabetized list of OS-specific packages
pywin32; platform_system == "Windows"
