Functional Requirements:

 - Client should be able to set models
 - Client should be able to set data sets
 - Client should be able to enter constraints
 - Client should be able to start a fit
 - Client should be able to access the results of a fit
 
 Non-Functional Requirements:
 - Models and Data belong in their own class
 - Data loader should be external to the module
 - The Models should be compatible with SANS models
 
 
 Risks:
 - Can we run Park standalone without a server?
 - Can we define an interface to Park that is as simple as scipy.optimizer?
 
 [ALINA] Am I on the right track?
 please take a look at the uml diagram...