
graft src/sas/models/libigor
graft src/sas/models/c_smearer
graft src/sas/models/c_models
graft src/sas/models/c_extensions
recursive-include sas *.h
recursive-include sas *.hh
include README.txt
include license.txt
include release_notes.txt
