
graft src/sans/models/libigor
graft src/sans/models/c_smearer
graft src/sans/models/c_models
graft src/sans/models/c_extensions
recursive-include sans *.h
recursive-include sans *.hh
include README.txt
include license.txt
include release_notes.txt
