1. Thread [done]
2. Find good defaults. Automate the inversion.
   -How do we estimate d_max? Guinier fit?
   -How do we estimate alpha? [done]
   Compute the residuals once and choose a value that brings the reg term up to 
   a fraction of the residuals.
3. When fitting a plottable on a Graph with multiple plottables, remember the one the user chose [done]
4. What q-range do we need to make it work? What are the constraints? [studied by Raiza]
5. Create handshake so that a plug-in can set context menu items to its own panels... [done]
6. Return figure of merit values and suggest the values for d_max and alpha. [alpha, nfunc done]
7. Show time estimate [done]
8. Plot the reg term alone to see what it looks like 
9. Use data loader perspective/plug-in to load data/choose file [done]
10. Common module for file reading and file choosing 
11. Define limits of applicability 
12. Return figures of merit [done]
13. Errors on output constants [done]
14. Clean up the InversionDialog [done]
15. Add online help for inputs and outputs (especially figures of merit) [done]
16. Add help text to the interface (description of what we are minimizing, to explain alpha and nfunc).
17. Get rid of all output prints. 
18. Clean up
19. Replace help dialog text with a nice image. Mention how to choose alpha and what the suggested alpha means.
20. If a figure of merit is clearly bad, put its background red
21. Option to save data. [done]
22. If you click compute before loading data, an error occurs. [fixed]
23. Plot I(q) immediately when you choose a new file. [done]
24. *** probably need to ship the perspectives separately...
25. If no data is available, disable the Fit button. [Message sent instead]
26. Remove an added curve...
27. Add multiple additional data curves.
28. Use Data Loader.