/* DANSE style sheet */
/* Version 1.0       */


body { 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
 	font-style: normal;
        width:800px;
	/* margin: top right bottom left */
        margin: 10px auto 10px auto; 
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}

/* Variable width support --- overrides fixed width above */
body {
	width:auto;
	margin: 10px 10px 10px 10px; 
        }


a:visited, a:link, a:active { 
	text-decoration: none; 
	color: blue;
	}

h2 {
	margin-top: 30px;
}

h3 {
	margin-top: 30px;
}

a:hover {
	text-decoration: none;
	color: gray;
	}


pre {
	/*
	#font-size: 20px;
	#font-style: fixed;
	display: block;
	*/
	margin-left: 2em;
	margin-top: 1.5ex;
	margin-bottom: 1.5ex;
}



#textContainer {
	padding-left:10px;
	padding-right:10px;
}

#textContainer ul {
	top: 0px; 
	right: 0px;
	list-style: list-style-type;
	list-style-type: square;
}

#textContainer li {
	line-height: 2.0ex; 
	padding-top: 0px; 
	margin-bottom: 5px;
}


#textContainer dl {
	top: 0px; 
	right: 0px;
	list-style: list-style-type;
	list-style-type: none;
	margin-left:0em;
	margin:0em;
}

#textContainer dt {
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 0px;
	padding-left: 25px;
	margin-bottom: 0px;
	margin: 0px;
}

#textContainer dd {
	line-height: 2.0ex; 
	padding-top: 0px; 
	margin-left: 0px;
	padding-left: 25px;
	margin-bottom: 20px;
}


#menuItem {
	/* background: transparent url(line.png) no-repeat top left; */ 
	border-top: 2px solid gray; 
	border-bottom: 2px solid gray; 
	background : #e4e7e9;
	font-size:16px; 
	font-weight:bold; 
	margin-bottom: 50px;
	padding-left:7px;
}

#menuItem a:link, #menuItem a:visited{
	line-height: 3.0ex; 
	margin-right: 6px;
	padding-right: 7px;
	border-right: 1px solid blue;
}

#linkList {
	top: 0px; 
	right: 0px;
	}

#linkList ul {
	list-style: list-style-type;
	list-style-type: square;
}

#linkList li {
	line-height: 2.0ex; 
	padding-top: 0px; 
	margin-bottom: 5px;
}

#linkList h3 {
}

#floater { 
	margin-top: 20px; 
	margin-bottom: 10px; 
	margin-left:40px;
	/* margin-right:10px;*/
	float: right;
	}
	

#floater img {
	border:0;
	align:top;
}	
	
#quote {
	margin-left:25px;
	font-style:italic;

}


#pageHeader { 
	height: 78px;
	padding-left:0px;
	font: normal 10pt/22pt Arial; 
	padding-top:4px;
	/*background: transparent url(ripple.jpg) top left; */
}

#pageHeader img {
	border:0;
	float: left;
	margin-left: 10px;
	margin-right: 1em;
	margin-top: 7px;
}


#mainTitle { 
	font: bold 10pt/22pt Arial; 
	font-size:20px; 
	font-weight:bold
	margin-top: 10px; 
	margin-bottom: -6px;
	padding-top: 10px; 
	}

#subTitle { 
	font-size:13px; 
	font-weight:normal
	margin-top: 0px; 	
	}

#summary {
	margin-bottom: 10px;
}

#footer {
	color : #75818a;
	/*background : #e4e7e9;*/
	/* background: #EEFFFF; */
	font-size : 11px;
	/*text-align : center;*/
	clear : both;
	height : 60px;
	margin : 0;
	/* border-top : 3px solid #c8cdd0; */
	border-top: 1px solid gray; 
}

#footerImages {
	padding-right:1em;
	/* width:150px; */
	/* padding-left:650px; */
}

#footerImages img {
	float: right;
	margin:0;
	margin-top:5px;
	margin-left:5px;
	border:0;
	align:top;
	height:50px;
	width:50px;
}

#footerText {
        margin-left: 1em;
	margin-right:10px;
	margin-bottom: 0.ex;
        margin-top: 30px;
	text-align: left;
}


#contact {
	padding-left:25px;
	margin-bottom:40px;
}

#contact h3 {
	margin-bottom:0px;
}
