name: Installer

on:
  [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  osx-installer:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        python-version: [3.8]

    steps:

    - name: Obtain SasView source from git
      uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    ### Caching of pip downloads and local wheel builds

    - name: Obtain pip cache (macOS)
      uses: actions/cache@v2
      if: startsWith(runner.os, 'macOS')
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/test.yml') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.python-version }}-
          ${{ runner.os }}-pip-

      ### Installation of build-dependencies

    - name: Install Python dependencies
      run: |
          python -m pip install --upgrade pip
          python -m pip install wheel setuptools
          python -m pip install numpy scipy matplotlib docutils "pytest<6" sphinx unittest-xml-reporting tinycc lxml h5py sphinx pyparsing html5lib reportlab pybind11 appdirs six numba mako ipython qtconsole xhtml2pdf unittest-xml-reporting pylint qt5reactor periodictable PyQt5

    - name: Install pyopencl (Linux + macOS)
      if: ${{ matrix.os != 'windows-latest' }}
      run: |
            python -m pip install pyopencl

    - name: Install utilities to build installer
      run: |
        python -m pip install pyinstaller

    - name: Fetch sources for sibling projects
      run: |
        git clone --depth=50 --branch=master https://github.com/SasView/sasmodels.git ../sasmodels
        git clone --depth=50 --branch=master https://github.com/bumps/bumps.git ../bumps

    - name: Build and install sasmodels
      run: |
        cd ../sasmodels
        rm -rf build
        rm -rf dist
        python setup.py clean
        python setup.py build
        python -m pip install .

    - name: Build and install bumps
      run: |
        cd ../bumps
        rm -rf build
        rm -rf dist
        python setup.py clean
        python setup.py build
        python -m pip install .

    ### Actual building/testing of sasview

    - name: Build sasview
      run: |
        # SET SASVIEW GITHASH
        githash=$( git rev-parse HEAD )
        sed -i.bak s/GIT_COMMIT/$githash/g src/sas/sasview/__init__.py
        # BUILD SASVIEW
        python setup.py clean
        python setup.py build
        python -m pip install .

    - name: Build sasmodels and bumps docs
      run: |
        make -C ../bumps/doc html || true
        mkdir -p ~/.sasmodels/compiled_models
        make -j4 -C ../sasmodels/doc html || true

    - name: Build sasview docs
      run: |
        cd docs/sphinx-docs/
        python build_sphinx.py || true


    ### Build the installer

    - name: Build sasview pyinstaller
      run: |
        cd installers
        pyinstaller -y --clean --onefile --windowed --debug sasview_qt5_osx.spec

    - name: Make tarball of sasview pyinstaller output directory
      run: |
        cd installers/dist
        tar -czvf SasView.tar.gz sasview

    - name: Publish pyinstaller components
      uses: actions/upload-artifact@v2
      with:
        name: SasView-PyInstaller-Dist-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.sha }}
        path: installers/dist/sasview-pyinstaller-dist.tar.gz
        if-no-files-found: error

    - name: Create dmg file
      run: |
        cd installers/dist
        hdiutil create SasView5.dmg -srcfolder SasView5.app -ov -format UDZO

    - name: Publish installer package
      uses: actions/upload-artifact@v2
      with:
        name: SasView-Installer-${{ matrix.os }}-${{ matrix.python-version }}-${{ github.sha }}
        path: installers/Output/SasView5.dmg
        if-no-files-found: error
